<!DOCTYPE>
  <html>
    <body>
      <div class = "topnav">
          <div class="top">
            <div class = "logo"> <i class='fa fa-address-book'></i>
            </div>
          </div>
                  <a href="#" target="_blank">Home</a>
                   <a href="#" target="_blank">About</a>
                   <a href="#" target="_blank">Services</a>
                   <a href="#" target="_blank">Portfolio</a>
                   <a href="#" target="_blank">Contact</a>
                  <a href="#" target="_blank"><i class='fab fa-pushed'></i></a>

      </div>
    </body>

</html>
